<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


<!-- navbar +-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
<!-- tab icon -->
      <link rel="icon" href="assets/top/FrostHeave - Copy.png">
<!-- animation link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!-- hover link -->
      <link href="assest/css/hover-min.css" rel="stylesheet">
<!--- main css --->
      <link rel="stylesheet" href="assets/css/styles.css">
    </head>
<!-- nav bar -->
    <body>
        <div class="row">
            <div class="header">
                    <div class="nav navbar">
                        <div class="col-md-6">
                          <img src="" alt="">
                        </div>
                        <div class="col-md-6" id="nav-margin">
                            <a href="https://frostheave-esports.blogspot.com/">
                            <div id="btn" class="btn">
                                 <h5>Blog</h5>
                                </div>
                             </a>
                            <a href="https://shop.spreadshirt.com/FrostHeave/">
                            <div id="btn" class="btn">
                                 <h5>Store</h5>
                                </div>
                            </a>
                            <a href="/contact.html">
                            <div id="btn" class="btn">
                                <h5>Contact</h5>
                                </div>
                            </a>
                          <a href="http://eepurl.com/c9bOLr">
                            <div id="btn" class="btn">
                                <h5>Sign Up</h5>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
       <div class="row">
           <div class="wrap">
               <div class="container">
                   <h1>Contact</h1>
                   <h2><strong>Email:</strong> Frostheavesnow@gmail.com</h2>
                   <h2><strong>Twitter:</strong> @Frost_Heave</h2>
                   <h2><strong>Instagram:</strong> @officialfrostheave</h2>
               </div>
           </div>
        </div>


     </body>

    <footer></footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
