<html>
    <head>
      <!-- Latest compiled and minified CSS -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link rel="stylesheet" href="assets/css/styles.css">

<!-- navbar +-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
<!-- tab icon -->
      <link rel="icon" href="assets/top/FrostHeave - Copy.png">
<!-- animation link -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<!-- hover link -->
      <link href="assets/css/hover-min.css" rel="stylesheet">
<!--- main css --->
      <link rel="stylesheet" href="assets/css/styles.css">
    </head>
<!-- nav bar -->
    <body>

        <div class="row">
            <div class="header">
                    <div class="nav navbar">
                        <div yclass="col-md-6">
                          
                        </div>
                        <div class="col-md-6" id="nav-margin">
                            <a href="https://frostheave-esports.blogspot.com/">
                            <div id="btn" class="btn">
                                 <h5>Blog</h5>
                                </div>
                             </a>
                            <div id="btn" class="btn">
                                 <h5>Store</h5>
                                </div>
                            <a href="./pages/contact.html">
                            <div id="btn" class="btn">
                                <h5>Contact</h5>
                                </div>
                            </a>
                            <a href="http://eepurl.com/c9bOLr">
                            <div id="btn" class="btn">
                                <h5>Sign Up</h5>
                                </div>
                            </a>
                        </div>
                    </div>
            </div>
        </div>

       <div clas="row">
           <div class="jumbotron jumbotron-fluid">
               <div class="container-fluid">
                   <h1><img class="animated fadeInDown" src='assets/FrostHeaveFantasyEsports - Copy.png' height="45%" width="100%" alt='test'></h1>
               </div>
           </div>
        </div>
       <div class="row">
           <div class="what">
               <div class="main" id="frostheave" id="what-is">
                   <h1>What is Frostheave?</h1>
               </div>
           </div>
        </div>

       <div class="row">
         <div class="wrap">
          <div class= "container-fluid">
          <div class="col-md-3">
              <img class="" src="assets/top/FrostHeave - Copy.png" id="frostheave-logo">
          </div>
           <div class="col-md-9" id="text">
              <h1>Frostheave is an always online mobile application that thrusts you the
                  players into fast pace Fantasy esports leagues. In Frostheave the stakes
                  are always high so your gonna need a team.  Create a team for anyone with
                  a gamertag and become captain of your very own esports team.</h1>
              </div>

        <div class="row">
          <div class="wrap">
              <div class="col-md-10" id="text2" >
                   <h1>With frostheave everyone wants to be on top.
                       So even when you log off leagues are always going
                       on and points being earned by other teams. On the plus
                       side teams do not have to play at the same time every
                       member of your team earns fantasy points that goes toward
                       the team so the action is always constant.</h1>
              </div>
              <div class="col-md-2">
                  <img class="" src="assets/top/smartphones - Copy.png" id="phone">
              </div>
         </div>
        </div>
       </div>
       </div>
      </div>

       <div class="row">
           <div class="what">
               <div class="main" id="frostheave">
                   <h1>How does frostheave work?</h1>
               </div>
           </div>
        </div>

        <div class="row text-center">
          <div class="wrap">
            <div class="container-fluid">
                <div class="emblem">
                <div class="col-3 col-sm-3">
                  <img class="hvr-grow" id="emblem" src="assets/emblem/computing.png">
                    <h2>Sign up Frostheave</h2>
                    <h4>Just get a frostheave subscription and link your gamertag</h4>
                </div>

                <div class="col-3 col-sm-3">
                   <img class="hvr-grow" id="emblem" src="assets/emblem/lightnings.png">
                    <h2>Build your team</h2>
                   <h4>Creating a team is as easy as requesting someone to be on your esports team</h4>
                </div>

                <div class="col-3 col-sm-3">
                   <img class="hvr-grow" id="emblem" src="assets/emblem/sand-clock.png">
                    <h2>Create a league</h2>
                    <h4>Once you have a team you can create a league to challenge other teams league periods are determined by you</h4>
                </div>


                <div class="col-3 col-sm-3">
                   <img class="hvr-grow" id="emblem" src="assets/emblem/knight.png">
                    <h2>Compete with rivals</h2>
                    <h4>When the league begins teams race to be at the top of the leaderboards competion will be fierce!</h4>
                </div>
              </div>
           </div>
         </div>

      <div class="row">
           <div class="coming">
               <div class="main" id="frostheave">
                <h1> Games coming to Frostheave</h1>
               </div>
            </div>
          </div>

<!--game images-->
        <div class="games">
            <div class="container">
<!--first row-->
        <div class="row text-center" id="">
          <div class="col-md-3">
              <img id="change" class="hvr-grow" src="assets/games/Call of Duty- WWII-285x380.jpg">
             </div>
           <div class="col-md-3" id="border">
               <img id="change" class="hvr-grow" src="assets/games/League of Legends-285x380.jpg">
            </div>
            <div class="col-md-3" id="border">
                <img id="change" class="hvr-grow" src="assets/games/Counter-Strike- Global Offensive-285x380.jpg">
            </div>
            <div class="col-md-3" id="border">
                <img id="change" class="hvr-grow" src="assets/games/pLAYERUNKNOWNS BATTLEGROUNDS-285x380.jpg">
            </div>
        </div>

<!--Second row-->
          <div class="row text-center" id="">
           <div class="col-md-3" id="border">
               <img id="change" class="hvr-grow" src="assets/games/FIFA 18-285x380.jpg">
            </div>
            <div class="col-md-3" id="border">
                <img id="change" class="hvr-grow" src="assets/games/Battlefield 1-285x380.jpg">
            </div>
            <div class="col-md-3"id="border">
                <img id="change" class="hvr-grow" src="assets/games/Hearthstone-285x380.jpg">
            </div>
           <div class="col-md-3" id="border">
               <img id="change" class="hvr-grow" src="assets/games/Battlefield 4-285x380.jpg">
            </div>
           </div>

<!--third row-->
       <div class="row text-center" id="">
            <div class="col-md-3" id="border">
                <img id="change" class="hvr-grow" src="assets/games/NBA 2K18-285x380.jpg">
            </div>
            <div class="col-md-3"id="border">
                <img id="change" class="hvr-grow" src="assets/games/Overwatch-285x380.jpg">
            </div>
           <div class="col-md-3" id="border">
               <img id="change" class="hvr-grow" src="assets/games/Dota 2-285x380.jpg">
            </div>
            <div class="col-md-3"id="border">
                <img id="change" class="hvr-grow" src="assets/games/Rocket League-285x380.jpg">
            </div>
         </div>
        </div>
       </div>



        <script>

        </script>

       <div class="row text-center" id="blue-box">
        <div class="row">
           <div class="wrap">
               <div class="col-md-12">
                   <h1> Sign up to stay up to date on the development of Frostheave</h1>
               </div>
           </div>
        </div>
        <div class="row text-center">
           <div class="wrap">
               <div class="col-md-12">
                  <a href="http://eepurl.com/c9bOLr">
                      <div class="btn" id="button">
                          <a href="http://eepurl.com/c9bOLr">
                              <h2>Sign up</h2>
                          </a>
                      </div>
                   </a>
               </div>
           </div>
        </div>
       </div>



          <div class="row text-center">
           <div class="wrap">
              <div>
               <div class="social1">
                <div class="col-md-12">
                   <div class="social">
                       <h2>Also follow Frostheave on social media</h2>
                   </div>
               </div>
           </div>
          </div>
        </div>
       </div>

        <div class="row text-center" id="padding">
           <div class="wrap">
              <div class="container-fluid">
               <div class="col-md-2">
                   <img class="hvr-grow" src="assets/social/facebook.png" id="social">
                   </div>
               <div class="col-md-2">
                   <img class="hvr-grow" src="assets/social/instagram.png" id="social">
                   </div>
               <div class="col-md-2">
                   <img class="hvr-grow" src="assets/social/twitter.png" id="social">
                   </div>
              </div>
            </div>
          </div>



     </body>

    <footer></footer>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
